html, body{
    height: 100% !important;
    width: 100% !important;
}
.modalCheckout{
    display: none;
}
.modalCheckout{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    
}
.btnClose{
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.modalCheckout table, .modalCheckout table h2{
    color: white !important;
}

.btnLogout{
    display: none;
}
.login_menu li:hover{
    cursor: pointer;
}

.hrefAdmin{
    display: none;
}